#main-canvas {
	height: 95vh;
	margin-right: 30px;
	border: 1px solid black;
}

.info {
	border: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;

	vertical-align: top;
	font-family: sans-serif;
}

#main-info-panel h4 {
	margin-top: 3em;
}

#main-info-panel canvas {
	height: 9.5vh;
}

#controls ul li {
	display: inline-block;
	margin-right: 20px;
	text-transform: uppercase;
}
